
@media (max-width: 576px) {


    .carousel-caption h2{
        font-size: 18px;
        margin-bottom: 0;
    }
    .top-widget-footer .inner-widget .form .btn-primary {
        position: absolute;
        bottom: 2%;
        right: 24%;
        padding: 6px 12px;
        border-radius: 3px;
        border: 0px solid #00bc9c;
        font-size: 12px;
        background: #00bc9c;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
    }

    .carousel-caption{
        position: absolute;
        right: 15%;
        bottom: 20%;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        top: 10%;
    }



}


@media (max-width: 768px) {

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 30%;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        top: 20%;
    }
}